* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* background-color: aqua; */
}

.navbar .logo {
  width: 13%;
}

.navbar .logo img {
  width: 100%;
}

.social ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  padding-top: 30px;
}

#menu {
  display: none;
}

.social ul li a {
  text-decoration: none;
  color: rgb(2, 54, 2);
  font-weight: 600;
}
.social ul li a .active {
  background-color: rgb(2, 54, 2);
  color: white;
}

.menubar {
  background-color: #468d55;
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: absolute;
  color: #fff;
}

.menubar ul li {
  list-style: none;
  margin-top: 40px;
  text-align: center;
}

.menubar ul li a {
  text-decoration: none;
  color: #ffc100;
}

#activ {
  background-color: #ffc100;
  color: #468d55;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: 600;
}

#active {
  background-color: #468d55;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
}
#close {
  display: none;
}
.fa-brands {
  font-size: 30px;
  color: #468d55;
}


/* BODY DESKTOP */
.body {
  width: 100%;
  display: flex;
 
}
.wrap {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 5px;
}

.first {
  width: 50%;
  margin: auto;
  /* text-align: center;
    align-content: center; */
  /* background-color: blueviolet; */
}

.first h1 {
  font-size: 60px;
  color: #468d55;
}
span {
  color: #ffc100;
}

.first p {
  font-size: 20px;
  color: #468d55;
  margin-bottom: 10px;
}

#input {
  background-color: rgb(187, 248, 187);
  padding: 10px 100px;
  border: none;
  border-radius: 10px;
}

.btn {
  background-color: #468d55;
  color: white;
  padding: 10px 40px;
  margin-left: -30px;
  border: none;
  border-radius: 20px;
}

.second {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.second img {
  width: 90%;
}

/* media query */
@media screen and (max-width: 1000px) {
  .navbar {
    width: 90%;
    padding-top: 10px;
    justify-content: space-between;
    
  }
  .navbar .logo {
    width: 30%;
    margin-top: 10px;
  }

  .social ul li {
    display: none;
  }

  .menubar {
    display: none;
    padding: 30px 0;
  }
  #menu {
    display: block;
    font-size: 30px;
    color: #468d55;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  #close {
    display: none;
    font-size: 35px;
    color: #468d55;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  #active {
    padding: 4px 6px;
  }
  .fa-brands {
    font-size: 15px;
  }

  .wrap {
    flex-direction: column-reverse;
    width: 90%;
  }

  .first {
    width: 100%;
    text-align: center;
    align-content: center;
  }

  .first h1 {
    font-size: 38px;
    text-align: center;
  }

  .second {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .second img {
    width: 70%;
  }

  #input {
    padding: 10px 30px;
  }

  .body{
    margin-bottom: 80px;
  }
}
