* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* background-color: aqua; */
}

.navbar .logo {
  width: 13%;
}

.navbar .logo img {
  width: 100%;
}

.social ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  padding-top: 30px;
}

#menu {
  display: none;
}

.social ul li a {
  text-decoration: none;
  color: rgb(2, 54, 2);
  font-weight: 600;
}
.social ul li a .active {
  background-color: rgb(2, 54, 2);
  color: white;
}

.menubar {
  background-color: #fff;
  display: none;
  flex-direction: column;
  text-align: center;
  width: 50%;
  position: absolute;
  color: #468d55;
}

.menubar h3{
color: #ffc100;
}

.menubar ul li {
  list-style: none;
  margin-top: 40px;
  text-align: center;
  margin-top: 50px;
}

.menubar ul li a {
  text-decoration: none;
  color: #468d55;
  
}

#activ {
  background-color: #ffc100;
  color: #468d55;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: 600;
}

#active {
  background-color: #468d55;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  /* margin-top: 20px; */

}

#close {
  display: none;
}
.fa-brands {
  font-size: 30px;
  color: #468d55;
}


/* BODY DESKTOP */
.body {
  width: 100%;
  display: flex;
 
}
.wrap {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 5px;
}

.first {
  width: 50%;
  margin: auto;
  /* text-align: center;
    align-content: center; */
  /* background-color: blueviolet; */
}

.first h1 {
  font-size: 40px;
  color: #468d55;
}
span {
  color: #ffc100;
  font-size: 80px;
  font-weight: 600;
}

.first p {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

#input {
  background-color: rgb(234, 247, 234);
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
}

.btn {
  background-color: #468d55;
  color: white;
  padding: 10px 40px;
    margin-left: -30px;
  border: none;
  border-radius: 10px;
}

.second {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.second img {
  width: 90%;
}


footer{
  background-color: #1f4428;
  
}

footer .line{
  border: 1px solid #ffc100;
  margin-top: 10px;
}

footer .wrap{
  display: flex;
  justify-content: space-between;
  color: white;
 padding-top: 50px;
}
footer .wrap .logos,
footer .wrap .contact{
  width: 50%;
  /* margin: auto; */
}

footer .wrap .logos img{
  width: 30%;
  margin-left: -15px;
  margin-bottom: 20px;
}
footer .wrap .logos .fa-brands{
  margin-top: 20px;
  font-size: 20px;
  margin-right: 10px;
}

footer .wrap .logos .fa-brands:hover{
  color: #fff;
}

footer .wrap .contact a{
  color: #fff;
  font-size: 20px;
  }

  footer .wrap .contact a:hover{
    color: #ffc100;
  }

  footer .wrap .contact a i{
    margin-right: 10px;
    margin-top: 15px;
  }

    footer .wrap .contact div{
    display: flex;
    font-size: 20px;
    gap: 15px;
    margin-top: 15px;
    }

    footer .wrap .contact div:hover{
      color: #ffc100;
    }

 
footer .cp{
  width: 80%;
  margin: auto;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1f4428; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #ffc100;
}

/* media query */
@media screen and (max-width: 1000px) {
  .navbar {
    width: 90%;
    padding-top: 10px;
    justify-content: space-between;
    
  }
  .navbar .logo {
    width: 30%;
    margin-top: 10px;
  }

  .social ul li {
    display: none;
  }

  .menubar {
    display: none;
    padding: 30px 0;
  }
  #menu {
    display: block;
    font-size: 30px;
    color: #468d55;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  #close {
    display: none;
    font-size: 35px;
    color: #468d55;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  #active {
    padding: 4px 6px;
  }
  .fa-brands {
    font-size: 15px;
  }

  .wrap {
    flex-direction: column;
    width: 90%;
  }

  .first {
    width: 100%;
    text-align: center;
    align-content: center;
  }
.first span{
  font-size: 45px;
}
  .first h1 {
    font-size: 20px;
    text-align: center;
  }

  .second {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .second img {
    width: 70%;
  }

  #input {
    padding: 10px 30px;
  }

  .body{
    margin-bottom: 80px;
  }

  footer .wrap .logos,
footer .wrap .contact{
  width: 100%;
  margin-bottom: 50px;
  /* margin: auto; */
}
}
